.article__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 140px;

  padding: 15px 19px;
  background-color: #ffff;
}

.article__content {
  max-width: 682px;
  padding-right: 20px;
}

.article__header {
  display: flex;
  column-gap: 13px;
}

.article__title,
.article__title-user,
.article__title-articles {
  font-size: 20px;
  font-weight: 400;
  color: rgb(24, 144, 255);
}

.article__title-articles {
  font-size: 20px;
}

.article__list-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;

  padding-top: 4px;
}

.item__tag {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 2px 5px;
}

.tag-active {
  color: rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0);
}

.article__desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  padding-top: 4px;
}

.article__desc-markdown {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.5);
}

.like,
.like-active {
  display: flex;
  align-self: center;
  box-sizing: border-box;
  background-color: transparent;
  column-gap: 3px;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
}

.like-active {
  line-height: 1;
  cursor: pointer;
  transition:
    color,
    transform 0.2s linear;

  &:hover {
    transform: translateY(-1px) scale(1.1);
    color: red;
  }
}
