.blog__author {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 30px;
}

.blog__title {
  font-size: 18px;
  font-weight: 400;
}

.blog__desc {
  color: rgba(0, 0, 0, 0.5);
}

.buttons-container {
  position: relative;
}

.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.delete-button {
  position: relative;
  width: 78px;
  height: 31px;
  border: 1px solid rgb(245, 34, 45);
  color: rgb(245, 34, 45);
  margin-right: 12px;
  border-radius: 5px;
  &:hover {
    background-color: rgb(245, 34, 45);
    color: #fff;
  }
  &:focus {
    background-color: rgb(245, 34, 45, 0.8);
    color: #fff;
  }
}

.edit-button {
  width: 65px;
  height: 31px;
  border: 1px solid rgb(82, 196, 26);
  color: rgb(82, 196, 26);
  border-radius: 5px;
  &:hover {
    background-color: rgb(82, 196, 26);
    color: #fff;
  }
  &:focus {
    background-color: rgb(82, 196, 26, 0.8);
    color: #fff;
  }
}
