.page-container {
  width: 903px;
  min-height: 800px;
  margin-top: 26px;
  background-color: #ffff;
}

.article-body {
  margin: 0 19px;
  margin-top: 25px;
}

.article-body p {
  display: flex;
  flex-wrap: wrap;
}
