.new__user {
  width: 320px;
  background-color: #fff;
  padding: 48px 32px;

  margin-top: 59px;
}

.title-form {
  text-align: center;
  margin-bottom: 21px;
}

label.name-label {
  display: block;
  margin-bottom: 2px;
  text-align: start;
}

.button__create {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(24, 144, 255);
  color: #fff;
}

.account__access {
  display: block;
  margin-top: 8px;
  text-align: center;
}

.error {
  display: block;
  text-align: start;
  color: red;
  margin-bottom: 6px;
}
